        * { box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }
        body { background:#f5f5f5; padding:20px; }
        .hoja {
            max-width: 900px;
            margin: auto;
            background: #fff;
            border: 3px solid #5a7fa3;
            border-radius: 16px;
            padding: 20px;
            margin-bottom: 5px;
        }
        .datos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px 20px;
            margin-bottom: 20px;
        }
        .campo { border-bottom: 1px solid #333; padding-bottom: 4px; }
        h1 {
            text-align: center;
            color: #2c5d85;
            margin-bottom: 10px;
        }
        .instrucciones {
            text-align: center;
            font-size: 14px;
            margin-bottom: 25px;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }
        .bloque {
            border: 2px solid #5a7fa3;
            border-radius: 12px;
            padding: 15px;
        }
        .bloque h2 {
            color: black;
            font-size: 18px;
            margin-bottom: 6px;
        }
        .bloque p { font-size: 14px; margin-bottom: 10px; }
        .linea {
            border-bottom: 1px solid #333;
            margin: 12px 0;
        }
        .pregunta {
            margin-top: 25px;
            font-size: 14px;
        }
        .respuesta {
            border-bottom: 1px solid #333;
            margin-top: 15px;
            height: 25px;
        }
        .ranking-lista {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .linea-rank {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .bolita {
            background-color: #3b5a85; 
            color: white;
            width: 22px;
            height: 22px;
            border-radius: 50%; 
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 14px;
            flex-shrink: 0;
        }

        .linea-rank input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
        }